# Travis CI Java documentation can be found in:
# https://docs.travis-ci.com/user/languages/java/

# Ubuntu 18.04
dist: xenial

language: java

jdk:
  - openjdk11

addons:
  sonarcloud:
    organization: "malvinsug"
    token:
      secure: "LjHdPV2PNAb19Yk/+oNE3xorC3owxReayyYd5zDNak4eORNitXtcb3DQLKsXK3ExZuuL3WFw4Q/3jW0k9BBQxBc0gBu0s55MVQtVr/LRMnUvqwcpupbjEL3/8jYutwo9Wutc3yjSVKxHGpqTcRUgQ+F3eZ5a4u0hiWEI3dRy0zJ360RcZShRF0ekH6VRt/+wszgTqT15amMu3gYdS92pguizc3Me+1OXbnsqqU18eLYKvarREz+bwjpi7sFfErc/QYefehVuWCP3ETtvmbKGmr4czQSa499al6ORpw77fN7UKl93fufjwqWFPCRtNwXiFnVSXampOeVh/63beBA0fNujgbqz1yHytT0oN76vG4PEsJHxeLDFoA2QhSYHCVZRm4u9aed+Ys1R7EhQShmx/R9GEjO8A2GONffv8T1DarUg9Y+nxQBw9miF2/Lf9hpoCBI8EzN+RqX9dz+/Thg6n1HV8tjEUpjk0IH5fcnXQgiNIpVOKimnnxAqGcPj4zXyiuF0+pXoQHlp+ChDYHJw412SQzAyUVHz9Ia750VHxoDB8ofdPEsAA7/gC7k0eGDrBItzfyG8Ewc9u0A8teEQ7Fu7pMeF9XJ6sIQ4jvAVISlJ0kAzDzxJF1V2u/KK5nnQFChtZAqKrXGf6h4qk6KcFSY1JIBH8sNjb9Qi5Kkb0aY="



before_install:
  # Get author name for the test report
  - export AUTHOR_NAME="$(git log -1 $TRAVIS_COMMIT --pretty="%aN")"

script:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  - mvn test -B
  - mvn clean verify sonar:sonar -Pcoverage -Dsonar.projectKey=crewmeister

after_success:
  # the following commands build the UpdateSheet.java file and report a successful test.
  - mvn compile
  - mvn exec:java -Dexec.mainClass="api.UpdateSheet" -Dexec.args="$AUTHOR_NAME SUCCESSFUL"

after_failure:
  # the following commands build the UpdateSheet.java file and report a failed test.
  - mvn compile
  - mvn exec:java -Dexec.mainClass="api.UpdateSheet" -Dexec.args="$AUTHOR_NAME FAILED"